<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shijc.wanandroidrx">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
            android:name=".AppContext"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.history.HistoryActivity">
        </activity>
        <activity android:name=".ui.todo.TodoActivity">
        </activity>
        <activity android:name=".ui.website.WebsiteActivity">
        </activity>
        <activity android:name=".ui.collection.CollectionActivity">
        </activity>
        <activity android:name=".ui.account.RegisterActivity">
        </activity>
        <activity android:name=".ui.account.LoginActivity">
        </activity>
        <activity android:name=".ui.search.SearchActivity">
        </activity>
        <activity android:name=".ui.WebviewActivity">
        </activity>
        <activity android:name=".ui.systemtree.SystemTreeListActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>